.app.light {
    --bg-color: #d6d6e9;
    --inverted-bg-color: #060644;

    --primary-color: #4d50ee;
    --secondary-color: #7d86ff;
    
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}